<div class="container wrap-m">
  <div class="col-md-4">
    <h1 class="titulo-grid">Editar Compañia</h1>

    <%= render 'form', company: @company %>

    <%= link_to 'Mostrar', @company, class: 'btn btn-primary' %>
    <%= link_to 'Volver', companies_path, class: 'btn btn-info' %>
  </div>
</div>
