<div class="container wrap-m">
  <div class="col-md-4 p-0">

    <h1 class="titulo-grid">Nueva Compañia</h1>

    <%= render 'form', company: @company %>

    <%= link_to 'Volver', companies_path %>


  </div>
</div>
