<div class="container wrap-m">
  <div class="col-md-4 p-0">

    <h1 class="titulo-grid">Nueva area</h1>

    <%= render 'form', area: @area %>

    <%= link_to 'Back', areas_path %>

  </div>
</div>
