<div class="container wrap-m">
  <div class="col-md-4 p-0">

    <p id="notice"><%= notice %></p>

    <p class="info-company">
      <strong>Name:</strong>
      <span><%= @area.name %></span>
    </p>

    <%= link_to 'Editar', edit_area_path(@area), class: 'btn btn-primary' %>
    <%= link_to 'Volver', areas_path, class: 'btn btn-info' %>

  </div>
</div>
