.crud{
  font-family: 'Roboto Condensed', sans-serif;

  @media screen and (max-width: 768px) {
    margin-top: 15%;
  }

  .bg{
    background-image: linear-gradient(to left, #ff0076, #ffc800);
    padding: 5% 0;
  }
  .wrap-m{
    margin-top: 5%;
  }
  h1{
    font-size: 2.5em;
    margin: 0;
    color: white;
    .far{
      background-color: white;
      color: #484848;
      width: 70px;
      height: 70px;
      text-align: center;
      padding-top: 9px;
      border-radius: 50%;
      border: 4px solid #10e624;
    }
  }
  a{
    color: white;
    &:hover{
      background: none;
      color: grey;
    }
  }
  .crear{
    color: white;
  }
  .companies{
    color: white;
    &:hover{
      color: red;
    }
  }

  #notice{
    font-size: 1.3em;
    margin: 16px 0;
    color: #13c724;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .info-company{
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;

    span{
      color: #28d428;
      font-weight: bold;
      text-decoration: underline;

    }
  }
  .titulo-grid{
    margin: 40px 0 20px;
    color: grey;
    font-weight: bold;
    font-size: 1.5em;
  }
  .titulo-grid-inter{
    margin: 0 0 20px;
  }
}
